.board {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  height: 600px;
  width: 530px;
  background-color: antiquewhite;
}

.wordsquare {
  background-color: lightgreen;
  border: 1px solid blue;
  font-size: 30px;
  padding-top: 45px;
  padding-right: 5px;
  text-align: center;
  z-index: 1;
}

.container {
  padding-top: 150px;
  margin: 0 auto;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: flex-start;
}

.logContainer {
  height: 600px;
  width: 350px;
  background-color: lightcyan;
  overflow-y: scroll;
}

.wordList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.word {
  font-size: 20px;
  font-weight: 500;
}

.test > h2 {
  white-space: nowrap;
  position: relative;
  left: 95px;
  padding-bottom: 10px;
}
