@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@1,900&display=swap");

.container {
  height: 500px;
  width: 700px;
  background-color: lightblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.headerContainer {
  margin-left: 27%;
}

.header {
  color: rgb(105, 119, 22);
  font-size: 40px;
}

.preTextContainer {
  padding: 15px;
  margin-left: 10px;
}

.imgandWords {
  display: flex;
  margin-top: 20px;
}

.wordsList {
  width: 300px;
  height: 300px;
  margin-left: 20px;
}

.wordContainer {
  margin-left: 30%;
  max-height: 150px;
  background-color: white;
  overflow-y: scroll;
}

.words {
  margin-left: 40%;
}

.preText {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  white-space: pre-wrap;
  font-size: 25px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 30px;
  top: 85%;
  margin-left: 5%;
  width: 400px;
}

.button {
  padding: 0.25rem 1.75rem;
  border-radius: 5px;
  font-size: 15px;
  background-color: aquamarine;
  cursor: pointer;
}

.button:nth-child(1) {
  position: relative;
  right: 0px;
  width: 200px;
}

.image {
  height: 200px;
  width: 250px;
  margin-left: 20px;
}

.imag {
  object-fit: cover;
}
