@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:ital,wght@1,900&display=swap");

.container {
  margin-top: -20px !important;
}

.content {
  position: absolute;
  top: 5%;
  height: 800px;
  width: 900px;
  background-color: lightblue;
  margin-left: 25%;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px darkblue;
}

.header {
  margin-left: 28%;
  padding-top: 10%;
  font-size: 25px;
}

.header > h2 {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.descrip_contain {
  margin-top: 10%;
  padding: 15px;
}

.ul {
  margin-left: 25%;
  margin-bottom: 10%;
  /* margin-top: -10%; */
}

.ul > li {
  white-space: pre-wrap;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.button_contain {
  margin-left: 70%;
}

.button {
  font-size: 20px;
  padding: 1.25rem 1.75rem;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}
