.boardContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-left: 35%;
  margin-top: -5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  background-color: black;
}